{% extends "TramBundle::layout.html.twig" %}

{% block body %}
    <ul class="list-group">
    {% for ligne in lignes %}
        <li class="list-group-item">
            <img src="{{ ligne.logourl }}" />
            <a href="{{ path('tram_ligne', {'code': ligne.code}) }}"> {{ligne.name}} </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
