{% extends "TramBundle::layout.html.twig" %}

{% block title %}
    <title>Grenoble Time - Ma position</title>
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('tram_homepage') }}">Home</a></li>
    <li>Ma position</li>
{% endblock %}

{% block body %}
    <h1 class="hidden-xs">Ma position</h1>
{% endblock %}
