{% extends "TramUserBundle::layout.html.twig" %}

{% block body %}
  <div class="container">
    {% if error %}
    <div class="alert alert-danger">{{ error.message }}</div>
  {% endif %}

  {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
      <form class="form-signin" role="form" action="{{ path('login_check') }}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="username" class="sr-only">Login :</label>
        <input type="text" id="username" name="_username" class="form-control" placeholder="Email address" value="{{ last_username }}" />

        <label for="password" class="sr-only">Mot de passe :</label>
        <input type="password" id="password" name="_password" class="form-control" placeholder="Password"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
  </div>

{% endblock %}
